<%= notice %>
<div class="field"></div>
 <p><strong>Title:</strong>
  <%= @book.title %>
 <p>
</div>

<div class="field"></div>
 <p><strong>Body:</strong>
  <%= @book.body %>
 <p>
</div> 

<%= link_to "Edit" ,edit_book_path(@book) %>
|
<%= link_to "Back" ,index_book_path %>



